.dropdown-menu {
    min-width: 200px;
    max-width: 250px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #ddd; 
    z-index: 1050;
    position: absolute; 
    top: 100%;
    right: 0;
    display: none;
}

.dropdown-menu li {
    list-style: none;
    margin: 5px 0;
}

.dropdown-menu li a {
    display: block;
    font-size: 14px;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    width: 100%;
}

.dropdown-menu li a:hover {
    background-color: #f6931f;
    color: #fff;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.user-profile {
    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }
    .btn-primary:hover{
        background: #188d09;

    }
}

.user-profile {
    margin-top: 100px;
    margin-bottom: 100px;
}